[submodule "Dependencies/Pageboy"]
	path = Example/Dependencies/Pageboy
	url = https://github.com/MerrickSapsford/Pageboy
[submodule "Example/Dependencies/PureLayout"]
	path = Example/Dependencies/PureLayout
	url = https://github.com/purelayout/purelayout
